h3 {
  font-size: 24px; /* Adjust the font size as needed */
  font-weight: bold; /* You can use 'normal' or 'lighter' for different weights */
  color: #333; /* Choose an appropriate text color */
  margin: 10px 0; /* Adjust margins for spacing */
  padding: 0; /* Reset padding to ensure consistency */
  text-transform: uppercase; /* Convert text to uppercase if desired */
  text-align: center; /* Center the text if needed */
  line-height: 1.2; /* Control line height for better readability */
  letter-spacing: 0.5px; /* Adjust letter spacing for better appearance */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow */
}

/* Apply a reset to remove default ul styles */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Style the list items */
ul li {
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 16px;
  color: #333; /* Text color */
  padding: 8px 0;
  border-bottom: 1px solid #ddd; /* Horizontal separator */
  transition: background-color 0.3s ease; /* Smooth hover effect */

  /* Add a hover effect */
  cursor: pointer;
}

ul li:hover {
  background-color: #f2f2f2; /* Hover background color */
}

/* Style the last li to remove the bottom border */
ul li:last-child {
  border-bottom: none;
}

/* Style the ul container, if needed */
/* ul {
  width: 100%;
  max-width: 400px; // Adjust the maximum width as needed
  margin: 0 auto; // Center the ul on the page
} */

/* Reset some default styles */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4; /* Background color for the body */
  color: #333; /* Text color */
}

/* Create a flex container for the body */
body {
  display: flex;
  flex-direction: column; /* Arrange children in a column */
  align-items: center; /* Center content horizontally */
  justify-content: center; /* Center content vertically */
  min-height: 100vh; /* Ensure the body takes up at least the full viewport height */
}
/* CSS for desktop screens */
@media (min-width: 768px) {
  /* Desktop styles go here */
  body {
    padding: 100px;
  }
}

/* CSS for mobile screens */
@media (max-width: 767px) {
  /* Mobile styles go here */
  body {
    padding: 10px;
  }
}

.small-disclaimer {
  font-size: 12px; /* Adjust the font size as needed */
  color: #666; /* You can specify your preferred text color */
  font-style: italic; /* Make it italic if desired */
  /* Add any additional styling you want for your disclaimer text */
}
.prop-container {
  width: 300px;
}

img {
  width: 300px;
}
