/* ProductGrid.css */

/* Product grid container styles */
.product-grid {
  margin-top: 150px;
  display: flex;
  padding: 0 20px; /* Add padding to the left and right */
  flex-wrap: wrap;
  justify-content: center;
}
